body {
  background-color: #eee;
}

.App {
  text-align: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 500px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid #eee;
  box-shadow: 8px 8px 4px 0px #ccc;
  background-color: #fff;
  border-radius: 8px;
}
.isComplete {
  text-decoration: line-through;
  color: #ccc;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}
.item p {
  margin: 0;
}
.item img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
